	.img1 {
		width: 100%;
		height: 763px;
	}
	.carousel-indicators li {
		border-radius: 50%;
		width: 15px;
		height: 15px;
	}
	.fixed-top {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.navbar {
		padding-left: 180px;
		padding-right: 180px;
	}
	hr {
		max-width: 3.25rem;
		border-width: .2rem;
		border-color: #f4623a;
		text-align: center;
	}
	h1 {
		font-size: 3.5rem;
	}
	.mb-4 {
		color: #fff;
	}
	.carousel-caption {
		padding-bottom: 100px;
		bottom: 100px;
	}
	.btn1 {
		font-size: 0.85rem;
		font-weight: 700;
		color: #fff;
		background-color: #f4623a;
		padding: 1.15rem 2.15rem;
		border: none;
		border-radius: 10rem;
	}
	.active {
		font-size: 1.35rem;
		font-weight: 700;
	}
	.container {
		background-color: #f4623a;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-top: 60px;
	}
	.container2 {
		background-color: #fff;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-top: 20px;
	}
	.container3 {
		background-color: #343a40!important;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-top: 110px;
		height: 340px;
	}
	#modal1 {
		position: fixed;
		bottom: 50%;
		z-index: 9999;
		transform: rotate(90deg);
		left: -58px;
		font-size: 12px;
	}
	.section1 {
		width: 100%;
		background-color: #f4623a;
		height: auto;
		padding-bottom: 100px; 
	}
	.section2 {
		width: 100%;
		background-color: #fff;
		height: auto;
	}
	.section3 {
		width: 100%;
		background-color: #343a40!important;
		height: auto;
	}
	.bg1 {
		background-color: #fff;
	}
	.icon {
		font-size: 70px;
		color: #f4623a;
		padding-left: 87.5px;
		padding-bottom: 30px;
	}
	.row {
		padding-top: 50px;
	}
	img {
		height: 278px;
	}
	.hv1 {
		color: #fff;
		opacity: 0.5;
		display: none;
		position: absolute;
		font-size: 18px;
		text-align: center;
		padding-top: 100px;
		background: rgba(244,98,58,.9);
		top: 0px;
		left: 15px;
		width: 100%;
		height: 279px;
	}
	.img2 {
		position: relative;
	}
	.img2:hover .hv1 {
		display: block;
	}
	.bot {
		padding-top: 20px;
	}
	.mb-3 {
		font-size: 20px;
	}
	.btn1:hover {
		background-color: #db380f;
	}