body {
	text-align: center;
}
img {
	display: inline-block;
	width: 150px;
	height: 200px;
}
.img:hover {
	opacity: 0.6;
}
h1 {
	text-align: center;
	color: #81D8D0;
}
#content {
	margin: auto;
}
.lb-details {
	text-align: center !important;
	color: red;
}
.lb-close {
	position: fixed;
    top: 10px;
    right: 10px;
}