body {
	font-family: arial;
}

#content2 {


}
#content3 {
	width: 80%;
	margin: auto;
	text-align: center;

}
.custom {
	width: 40%;
	display: inline-block;
	text-align: center;
	margin-top: 40px;
	padding-left: 10px;
    padding-right: 10px;

}
.cus {
	border: 1px solid;
    border-radius: 40px;
    padding: 5px;
    z-index: 12;
    position: relative;
    background: white;

}
.text5 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: -40px;
	z-index: 5;
	position: relative;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
	-moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);

}